/*
|--------------------------------------------------------------------------
| Application Styles
|--------------------------------------------------------------------------
|
| This file serves as the "glue" for all styles in our application
| binding together all the various styles, fonts, and colors we
| will need. We're not going to use scoped component styles.
|
*/

@import 'buttons'
@import 'header'
@import 'layout'
@import 'minyan-list'
@import 'sub-heading'
@import 'typography'

html, body
  margin 0
  background background
