@import 'variables'

button
    font-family font

    &:focus
        outline none

.button
    box-sizing border-box
    border-radius 2px
    font-size 11px
    font-weight 600
    letter-spacing .8px
    min-width 90px
    padding 9px 20px 10px
    text-align center
    transition transition-background-hover
    
    &:hover
        cursor pointer

    &--primary
        color white
        background accent
        width 175px
        border 1px solid accent

        &:hover
            background saturate(darken(accent, 15%), 35%)

    &--cancel
        color danger
        background white
        width 175px
        border 1px solid danger

        &:hover
            background danger
            color white

.button--round
    box-sizing border-box
    border-radius 100px
    cursor pointer
