@import 'utils/colors'

.button
  border-radius 2px
  font-size 11px
  font-weight 600
  letter-spacing .8px
  min-width 90px
  padding 9px 20px 10px
  text-align center

  &--primary
    color white
    background text--color-accent
    width 130px
