@import '../styles/utils/colors.styl'

  .header
    background primary
    color white

    .links
      display flex
      height 58px
      align-items center
      justify-content space-between
      font-size 10px
      font-weight 600
      letter-spacing .85px

      &--left a
          margin-right 45px
      
      &--right a
          margin-left 45px
      
      a
        text-decoration none

      .router-link-active
        color white
    
    .title--container
      display flex
      padding-bottom 20px

      .logo--container
        display flex
        align-items center
        margin-left -75px
        padding-right 25px

        .logo
          border-right 1px solid rgba(55,62,77,.56)
          height 28px
          padding 5px 25px 5px 0
