.minyan-list
  margin 80px 0 0 0
  padding 0
  width 600px

  &--item
    display flex
    justify-content space-between
    padding 33px 0
  
    &:not(:first-of-type)
      border-top 1px solid #e9ebf0
    
    .minyan
      &-description
        .secondary
          font-size 14px

      &-action
        display flex
        align-items center
    h3
      font-size 20px
      margin 0
