@import 'utils/colors'
@import 'utils/transitions'

.sub-heading
  background primary
  color #898F9A
  text-align center
  font-size 13px
  padding-bottom 20px

  .fa
    cursor pointer
    transition transition-background-hover
    
    &-chevron-right
      padding-left 20px
    &-chevron-left
      padding-right 20px
    &:hover
      color white 
