@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400, 600')
@import 'colors'

#app
  font-family 'Open Sans', sans-serif
  font-weight 300

h1, h2, h3, h4, h5, h6
  font-weight 300

.uppercase
  text-transform uppercase

.copy
  &--text, &--text a
    color copy-color

  &--accent, &--accent a
    color copy-accent

.carrot--down---after
  position relative
  padding-right 13px

  &:before
    content ''
    position absolute
    width 0
    height 0
    border 3px solid transparent
    border-top 3px solid copy-color
    top 0
    right 0
    margin 7px 0 0
