@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400, 600')
@import 'utils/colors'

#app
  font-family 'Open Sans', sans-serif
  font-weight 300
  color text--color-primary

h1, h2, h3, h4, h5, h6
  font-weight 300

.uppercase
  text-transform uppercase

.text
  &--color-secondary, &--color-secondary a
    color text--color-secondary

  &--color-accent, &-color-accent a
    color text--color-accent

.carrot--down---after
  position relative
  padding-right 13px

  &:before
    content ''
    position absolute
    width 0
    height 0
    border 3px solid transparent
    border-top 3px solid text--color-secondary
    top 0
    right 0
    margin 7px 0 0
