/*
|--------------------------------------------------------------------------
| Color Variables
|--------------------------------------------------------------------------
*/
// brand
primary = #1F2531
accent = #FDA639
danger = #E54D42
background = #F9F9FB

// typography
text-color-primary = #424955
text-color-secondary = #757b8c

/*
|--------------------------------------------------------------------------
| Transition Variables
|--------------------------------------------------------------------------
*/
hover-time = 0.2s

transition-background-hover = color hover-time, background-color hover-time

/*
|--------------------------------------------------------------------------
| Device Variables
|--------------------------------------------------------------------------
*/
small-device = 768px
medium-device = 992px
large-device = 1170px
