// colors
primary = #1F2531
accent = #FDA639
white = #FFF

background = #F9F9FB

text-color-primary = #424955
text-color-secondary = #757b8c


// transitions
hover-time = 0.2s

transition-background-hover = color hover-time, background-color hover-time

// devices
small-device = 768px
medium-device = 992px
large-device = 1170px
